.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

@media (min-width: 40.0625em) {
  .sdil-right-align--desktop {
    text-align: right;
    padding-right: 0px !important;
  }
}
